.stars {
  color: #003087;
  font-size: 3rem;
  padding-right: 0.5rem;
}

.stars:focus {
  outline: none;
  border: 0;
}

div#program-information {
  padding: 0;
}

#program-information ul {
  padding-left: 1rem;
}

#program-course-lookup {
  overflow: auto;
}

aside div.content {
  height: unset;
}

#program-course-lookup select {
  width: 100%;
  margin: .5rem 0;
}

#program-course-lookup div.heading {
  height: unset;
}

#program_chosen {
  padding: .5rem 0;
}
.submitSlider {
  /*new slider branch fuckery*/
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #002f87;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.submitSlider::-webkit-slider-thumb { 
  border-radius: 15px 15px 15px 15px;
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 15px;
    background: #Eaa55e;
    cursor: pointer;
}

.submitSlider::-moz-range-thumb {
    border-radius: 15px 15px 15px 15px;
    width: 30px;
    height: 15px;
    background: #Eaa55e;
    cursor: pointer;
}

.hours input, .hours input:focus {
  border: none;
}

h4.submitModalText {
  color: #002f87;
  display: inline;
}
output.submitModalTextOutput {
  color: #Eaa55e;
  display: inline;
  font-size:18px;
}

.hours label {
  color: #777;
}

.hours h4 {
	color: #002f87;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.hours .star{
  color: #eaa55e;
}

.course-actions .course-reviews{
  background: #789CC1;
  position:relative
}
.course-plus{
  position: absolute;
  top: 0;
  right: .5rem;
  color: #e8a55e;
}
#hoursOutputId {
  display:inline;
  color:#E8A552;
  font-size:18px;
}
#profRateId {
  display:inline;
  color:#E8A552;
  font-size:18px;
}

/*submit review modal css*/
/*slider css*/
.submitModalText {
  color: #002f87;
  display: inline;
  font-weight: bold;
}

#hoursRange.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #002f87;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#hoursRange.slider::-webkit-slider-thumb { 
  border-radius: 15px 15px 15px 15px;
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 15px;
    background: #Eaa55e;
    cursor: pointer;
}

#hoursRange.slider::-moz-range-thumb {
    border-radius: 15px 15px 15px 15px;
    width: 30px;
    height: 15px;
    background: #Eaa55e;
    cursor: pointer;
}

.submissionForm .tags, div.tags {
  text-align: justify;
}

.submissionForm input[type="checkbox"] {
    display: none;
}

.submissionForm input[type="checkbox"]:checked + label {
  background-color: #f7a34d;
}

.submissionForm input[type="checkbox"] + label {
  background-color: #133c80;
  color: white;
  padding: .3rem .5rem;
  border-radius: 10rem;
  user-select: none;
  -moz-user-select: none;
}

label.pageTag {
  font-size: 1.5rem;
  background-color: #f7a34d;
  color: white;
  padding: .3rem .5rem;
  border-radius: 10rem;
  user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  margin: 0.2rem;
}

.showReview .navigator {
  text-align: center;
}

.showReview .navigator p.page-number {
  display: inline-block;
  width: 10rem;
}

.showReview .navigator button {
  background-color: #003c6f;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.showReview .navigator button:disabled {
  background-color: #aaa;
}

.showReview a.button:hover {
  opacity: 0.9;
}

.btn-submit {
  color: #FFF;
  background: rgb(120, 156, 193);
}