.stars {
	color: #003087;
	font-size: 3rem;
	padding-right: 0.5rem;
}

.stars:focus {
	outline: none;
	border: 0;
}

div#program-information {
  padding: 0;
}

#program-information ul {
  padding-left: 1rem;
}

#program-course-lookup {
  overflow: auto;
}

aside div.content {
  height: unset;
}

#program-course-lookup select {
  width: 100%;
  margin: .5rem 0;
}

#program-course-lookup div.heading {
  height: unset;
}

#program_chosen {
  padding: .5rem 0;
}
#hoursRange.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #003087;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#hoursRange.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #E8A552;
  cursor: pointer;
}

#hoursRange.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #E6A65D;
  cursor: pointer;
}

.hours input, .hours input:focus {
  border: none;
}

.hours label {
  color: #777;
}

.hours h4 {
	color: #002f87;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.hours .star{
  color: #eaa55e;
}

.course-actions .course-reviews{
  background: #789CC1;
  position:relative
}
.course-plus{
  position: absolute;
  top: 0;
  right: .5rem;
  color: #e8a55e;
}