.stars {
	color: #003087;
	font-size: 3rem;
	padding-right: 0.5rem;
}

.stars:focus {
	outline: none;
	border: 0;
}

div#program-information {
  padding: 0;
}

#program-information ul {
  padding-left: 1rem;
}

#program-course-lookup {
  overflow: auto;
}

aside div.content {
  height: unset;
}

#program-course-lookup select {
  width: 100%;
  margin: .5rem 0;
}

#program-course-lookup div.heading {
  height: unset;
}

#program_chosen {
  padding: .5rem 0;
}

h1.title {
	padding-left: .5em;
	color: #003087;
}

#hoursRange.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #003087;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: .5em;
}

#hoursRange.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #E8A552;
    cursor: pointer;
}

#hoursRange.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E6A65D;
    cursor: pointer;
}

h4.submitText {
	color: #003087;
	display: inline;
}

h6.submitText {
	margin: 0;
}

.checkboxStyling {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

label.checkboxLabel {
  margin: 10px;
  padding: 5px;
  border: 1px solid gray;
}

input + label.checkboxLabel {
  border-color: #003087;
  color: #003087;
}

input:checked + label.checkboxLabel {
  background: #E6A65D;
}